<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">
	
<configuration>

	<typeAliases>
		<typeAlias alias="MemberVO" type="com.reservation.pj.member.MemberVO" />
		<typeAlias alias="CommentVO" type="com.reservation.pj.comment.CommentVO" />
		<typeAlias alias="BoardVO" type="com.reservation.pj.board.BoardVO" />		
		<typeAlias alias="RoomVO" type="com.reservation.pj.room.RoomVO" />
		<typeAlias alias="BookVO" type="com.reservation.pj.book.BookVO" />
	</typeAliases>
	
</configuration>